body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 50%, #0f0f0f 50%, #0f0f0f 75%, transparent 75%, transparent);
    background-size: 50px 50px;
}

.container {
    display: flex;
    justify-content: center; /* Centrado horizontalmente */
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    position: relative; /* Posicionamiento relativo para posicionamiento absoluto */
}

.iniciar-box {
    background-color: #e2dbdb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 42, 255, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.iniciar-box h2 {
    color: #020202;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(0, 60, 255), 0 0 70px rgb(0, 98, 255), 0 0 80px rgb(8, 0, 255);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form-group input:focus {
    outline: none;
    border-color: #00ffdd;
    /* Verde neón */
    box-shadow: 0 0 5px rgba(0, 255, 221, 0.5);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.register-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

button {
    background-color: #1877d0;
    /* Azul */
    color: #0c0c0c;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(10, 57, 196), 0 0 70px rgb(47, 122, 209), 0 0 80px rgb(47, 122, 209);
}

button:hover {
    background-color: #007bff;
}

.cancel-button {
    background-color: #ff0000; /* Neon red */
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(34, 0, 255, 0.5);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(211, 0, 28), 0 0 40px rgb(214, 11, 11), 0 0 70px rgb(220, 13, 13), 0 0 80px rgb(209, 13, 13);
}

.register-button {
    background-color: #1877d0;
    /* Azul */
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(34, 0, 255, 0.5);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(61, 13, 254), 0 0 40px rgb(26, 5, 255), 0 0 70px rgb(38, 0, 255), 0 0 80px rgb(7, 19, 235);
}

.register-button:hover {
    background-color: #007bff;
}

.cancel-button:hover {
    background-color: #ff0000;
}
.image-container {
    max-width: 100%;
    margin-bottom: 20px;
}

.image-container img {
    width: 30%;
    height: auto;
}